@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) ;
}
.active{
    color: var(--main-color);
}
.btn{
    @apply
    p-2 bg-main text-white hover:bg-green-600 w-full rounded
}


.loader {
    width: 64px;
    height: 48px;
    position: relative;
    animation: split 1s ease-in infinite alternate;
  }
  .loader::before , .loader::after {
    content: '';
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translateX(-10px);
    background: var(--main-color);
    opacity: 0.75;
    backdrop-filter: blur(20px);
  }
  
  .loader::after {
    left: auto;
    right: 0;
    background: #FFF;
    transform: translateX(10px);
  }
  
  @keyframes split {
   0% , 25%{ width: 64px }
   100%{ width: 148px }
  }
    